<!DOCTYPE html>

<html>
<%- include('../partials/head'); %>

  <body>
    <div class="container">

      <%- include('../partials/header', { page: 'about' }); %>

        <main class="text-center">
          <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Olá, Sou o Hemerson desenvolvedor frontend</p>
          </div>
        </main>

        <%- include('../partials/footer'); %>
    </div>
  </body>

</html>
